# Dotfiles
backups/

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Node modules directory
node_modules/

# Ignore all Sublime user files except settings, snippets, key maps and themes
sublime/*
!sublime/*.sublime-settings
!sublime/*.sublime-snippets
!sublime/*.sublime-keymap
!sublime/*.tmTheme

# Ignore Vim bundles
link/.vim/bundle/
link/.vim/swaps/
