# Dotfiles
backups/

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Node modules directory
node_modules/

# Ignore Vim bundles
link/.vim/plugged/
link/.vim/swaps/

# Ignore tmux plugins
link/.tmux/plugins/
link/.tmux/resurrect/

# Ignore all .config files except neovim
link/.config/*/*
!link/.convig/nvim/
!link/.config/nvim/*
# Ignore netrwist
link/.config/nvim/.netrwhist
# Ignore neovim plugins
link/.config/nvim/plugged
!link/.config/nvim/*/*

