init-author-name=Urban Faubion
init-author-email=urban.faubion@gmail.com
init-author-url=http://urbanfaubion.com/
init-license=MIT
save-exact=true
//registry.npmjs.org/:_authToken=c4e03ff6-83ae-4b53-9cce-c1b7c1bfd1e0
registry=https://registry.npmjs.org/
