init-author-name=Urban Faubion
init-author-email=urban.faubion@gmail.com
init-author-url=http://urbanfaubion.com/
init-license=MIT
save-exact=true
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=1e4f2e85-187d-4c00-b386-696090428d47
