init-author-name=Urban Faubion
init-author-email=urban.faubion@gmail.com
init-author-url=http://urbanfaubion.com/
init-license=MIT
save-exact=true
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=1ce9d426-a6a0-4122-9e49-98f607d252a5
